@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant positive (&:where(.positive, .positive *));
@custom-variant negative (&:where(.negative, .negative *));

@theme {
    --color-dark: #202020;
    --color-positive: #547BCD;
    --color-negative: #0B3286;
    --color-header-main: #1F51BD;
    --color-header-elements: #AEC2ED;
    --color-menu-active-link-light-positive: #03627C;
    --color-menu-link-light-positive: #A7DCEB;
    --color-menu-marker: #1190B4;
    --color-menu-active-link-dark-negative: #49ABC7;
    --color-menu-link-dark-negative: #013341;
    --color-main-text-light: #031945;
    --color-main-text-dark: #AEC2ED;
    --color-main-text-positive: #031945;
    --color-main-text-negative: #8FA8DE;
    --color-main-bg-light: rgba(217, 217, 217, 0.6);
    --color-main-bg-dark: rgba(54, 99, 196, 0.6);
    --color-main-bg-positive: rgba(174, 194, 237, 0.6);
    --color-main-bg-negative: rgba(31, 81, 189, 0.6);
    --color-footer-bg-light-positive: #B9B1EE;
    --color-footer-text-light-positive: #0E0448;
    --color-footer-bg-dark-negative: #0E0448;
    --color-footer-text-dark-negative: #B9B1EE;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.h-full-header {
    @apply bg-[#1F51BD] w-full
}

.transform-rotate-180 {
    transform: rotate(180deg);
}
.h-full-header-image {
    width: calc(100vw*0.13);
    @apply mt-[calc(1vw*0.5)]
}

.mx-full-screen {
    margin: 0 7.3vw;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.header-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 100%;
    width: auto;
    padding: 1em;
    background: rgba(31, 81, 189, 0.6);
    border: 1px solid #AEC2ED;
    gap: 1em;
}

.footer-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: start;
    width: auto;
    bottom: 100%;
    padding: 1em;
    background: rgba(185, 177, 238, 0.6);
    border: 1px solid;
    border-color: #0E0448;
    gap: 1em;
}

.dark .footer-dropdown, .negative .footer-dropdown {
    background: rgba(14, 4, 72, 0.8);
    border-color: #B9B1EE;
}

.footer {
    padding: 0 0.7em;
   @apply mx-auto my-[2em] flex items-center justify-center w-5/6 h-[70px] bg-[#B9B1EE] dark:bg-[#0E0448] positive:bg-[#B9B1EE] negative:bg-[#0E0448] border-t-2 border-b-2 border-[#0E0448] positive:border-[#0E0448] negative:border-[#B9B1EE] dark:border-[#B9B1EE]
}

.main {
    padding-bottom: 1em;
    @apply text-[#031945] dark:text-[#AEC2ED] positive:text-[#031945] negative:text-[#8FA8DE] dark:bg-[#202020] positive:bg-[#547BCD] negative:bg-[#0B3286];
}

.padding-footer-links {
    padding: 0 1em;
}

.homepage-main-sections {

    padding: 2em;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.6);
    @apply text-main-text-light dark:text-[#AEC2ED] positive:text-[#031945] negative:text-[#8FA8DE]
}

.dark .homepage-main-sections {
    background: rgba(31, 81, 189, 0.6);
}

.positive .homepage-main-sections {
    background: rgba(174, 194, 237, 0.6);
}

.negative .homepage-main-sections {
    background: rgba(84, 123, 205, 0.6);
}

.nav-bar-link {
    @apply flex text-center justify-center px-[1em] py-[1em] border-5 border-[#ffffff] dark:border-[#202020] positive:border-[#547BCD] negative:border-[#0B3286]
}

.navbar-active-tab,
.dark .navbar-not-active-tab,
.negative .navbar-not-active-tab,
.navbar-not-active-tab:hover,
.dark .navbar-active-tab:hover,
.negative .navbar-active-tab:hover
{
    @apply bg-[#03627C] cursor-pointer
}

.navbar-not-active-tab,
.dark .navbar-active-tab,
.negative .navbar-active-tab,
.navbar-active-tab:hover,
.dark .navbar-not-active-tab:hover,
.negative .navbar-not-active-tab:hover
{
    @apply bg-[#49ABC7] cursor-pointer
}

.navbar-text-active-tab,
.navbar-text-not-active-tab:hover,
.dark .navbar-text-not-active-tab,
.negative .navbar-text-not-active-tab,
.dark .navbar-text-active-tab:hover,
.negative .navbar-text-active-tab:hover
{
    @apply text-[#A7DCEB]
}

.navbar-text-not-active-tab,
.dark .navbar-text-active-tab,
.negative .navbar-text-active-tab,
.navbar-text-active-tab:hover,
.dark .navbar-text-not-active-tab:hover,
.negative .navbar-text-not-active-tab:hover {
    @apply text-[#013341]
}

.select-galery-component {
    @apply border-0 bg-[#AEC2ED] dark:bg-[#1F51BD] positive:bg-[#AEC2ED] negative:bg-[#3663C4] px-[0.5em] focus:outline-none focus:ring-0 focus:border-transparent rounded-[10px] text-[#031945] dark:text-[#AEC2ED] positive:text-[#031945] negative:text-[#8FA8DE]
}

.search-block-galery {
    @apply flex items-center justify-between bg-[#AEC2ED] dark:bg-[#1F51BD] positive:bg-[#AEC2ED] negative:bg-[#3663C4] rounded-[10px]
}

.search-input-galery {
    @apply  border-0  px-[1.5em] placeholder-[#031945] w-[90%] focus:outline-none focus:ring-0 focus:border-transparent bg-[#AEC2ED] rounded-[10px] dark:bg-[#1F51BD] positive:bg-[#AEC2ED] negative:bg-[#3663C4] text-[#031945] dark:text-[#AEC2ED] positive:text-[#031945] negative:text-[#8FA8DE] dark:placeholder-[#AEC2ED] positive:placeholder-[#031945] negative:placeholder-[#8FA8DE]
}

.pagination-links {
    font-weight: bold;
    @apply text-[#1F51BD] no-underline px-[0.5em] py-[0.5em] text-[1.5em] bg-[#AEC2ED] dark:bg-[#1F51BD] positive:bg-[#AEC2ED] negative:bg-[#3663C4] dark:text-[#AEC2ED] positive:text-[#031945] negative:text-[#8FA8DE]
}

.pagination-prev-next-links {
    @apply py-[0.5em] bg-[#AEC2ED] dark:bg-[#1F51BD] positive:bg-[#AEC2ED] negative:bg-[#3663C4]
}

.active.pagination-links {
    @apply text-[#AEC2ED] bg-[#1F51BD] dark:bg-[#AEC2ED] positive:bg-[#031945] negative:bg-[#8FA8DE] dark:text-[#1F51BD] positive:text-[#AEC2ED] negative:text-[#3663C4]
}

.galery-download-button {
    color: #031945;
    background: transparent;
    @apply flex justify-center items-center gap-[0.5em] border-0 cursor-pointer px-[1em] py-[0.5em] rounded-[5px]
}

.dark .galery-download-button {
    color: #AEC2ED;
}

.positive .galery-download-button {
    color: #031945;
}

.negative .galery-download-button {
    color: #D9D9D9;
}

.galery-item-block {
    @apply flex my-[1em] w-5/6 mx-auto rounded-[10px] py-[1em] justify-between
}

.galery-item-block-mobile {
    @apply flex  flex-col justify-center items-center my-[1em] w-5/6 mx-auto rounded-[10px] py-[0.5em]  gap-[0.5em]
}

.galery-item-block-background {
    background: rgba(174, 194, 237, 0.6);
}

.dark .galery-item-block-background {
    background: rgba(31, 81, 189, 0.6);
}

.positive .galery-item-block-background {
    background: rgba(174, 194, 237, 0.6);
}

.negative .galery-item-block-background {
    background: rgba(54, 99, 196, 0.6);
}

.about-main-block {
    @apply w-5/6 flex flex-col justify-center items-stretch mx-auto rounded-[10px] bg-[#AEC2ED] text-[#031945] dark:bg-[#1F51BD] dark:text-[#AEC2ED] positive:bg-[#AEC2ED] positive:text-[#031945] negative:bg-[#3663C4] negative:text-[#D9D9D9]
}

.about-main-block > h2 {
    @apply px-[2em] py-[2em] text-center text-[2em]
}

.about-main-block > section > p {
    line-height: 1.5em;
    @apply w-[93%] mx-auto my-[0.5em] text-justify text-[1.5em]
}

.about-main-block > img {
    @apply max-w-[25%]
}

.editor-main-div {
    @apply w-5/6 mx-auto py-[1em] rounded-[10px] bg-[#AEC2ED] text-[#031945] dark:bg-[#1F51BD] dark:text-[#AEC2ED] positive:bg-[#AEC2ED] positive:text-[#031945] negative:bg-[#3663C4] negative:text-[#D9D9D9]
}

.editor-number-inputs {
    @apply border-0 h-[2em] px-[1em] w-[3em] text-[1em] text-[#031945] bg-[#D9D9D9] rounded-[10px] focus:outline-none focus:ring-0 focus:border-transparent dark:bg-[#D9D9D9] dark:text-[#1F51BD] positive:bg-[#D9D9D9] positive:text-[#031945] negative:bg-[#D9D9D9] negative:text-[#3663C4]
}
